h1{
    color: purple;
}

.portfoliobackground{
    background-color: salmon;
    padding: 20px;
    width: 100%;
    margin: 0px;
}

.portfoliocard{
    background-color: seagreen;
    border: seashell 2px solid;
    color: seashell;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#flexbox{
display: flex;
justify-content: space-around;
flex-direction: row;

}

.flexboxjr{
    width: 200px;
    }